<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TelephoneDirectory.My.MySettings.GeneralUserDBConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=D:\sem4\Software_Lab\assignment2\GeneralUserDB.accdb"
            providerName="System.Data.OleDb" />
        <add name="TelephoneDirectory.My.MySettings.GeneralUserDBConnectionString1"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\GeneralUserDB.accdb"
            providerName="System.Data.OleDb" />
        <add name="TelephoneDirectory.My.MySettings.MobilePlansDBConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\MobilePlansDB.accdb"
            providerName="System.Data.OleDb" />
        <add name="TelephoneDirectory.My.MySettings.MobilePlansDBConnectionString1"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=D:\sem4\Software_Lab\assignment2\MobilePlansDB.accdb"
            providerName="System.Data.OleDb" />
        <add name="TelephoneDirectory.My.MySettings.InternetPlansConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=D:\sem4\Software_Lab\assignment2\InternetPlans.accdb"
            providerName="System.Data.OleDb" />
        <add name="TelephoneDirectory.My.MySettings.TVPlansConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=D:\sem4\Software_Lab\assignment2\TVPlans.accdb"
            providerName="System.Data.OleDb" />
        <add name="TelephoneDirectory.My.MySettings.UserRequestDBConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\UserRequestDB.accdb"
            providerName="System.Data.OleDb" />
        <add name="TelephoneDirectory.My.MySettings.GeneralUserDBConnectionString2"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\bin\Debug\GeneralUserDB.accdb"
            providerName="System.Data.OleDb" />
        <add name="TelephoneDirectory.My.MySettings.InternetPlansConnectionString1"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\bin\Debug\InternetPlans.accdb"
            providerName="System.Data.OleDb" />
        <add name="TelephoneDirectory.My.MySettings.MobilePlansDBConnectionString2"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\bin\Debug\MobilePlansDB.accdb"
            providerName="System.Data.OleDb" />
        <add name="TelephoneDirectory.My.MySettings.TVPlansConnectionString1"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\bin\Debug\TVPlans.accdb"
            providerName="System.Data.OleDb" />
        <add name="TelephoneDirectory.My.MySettings.UserRequestDBConnectionString1"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\bin\Debug\UserRequestDB.accdb"
            providerName="System.Data.OleDb" />
        <add name="TelephoneDirectory.My.MySettings.DirectoryConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\hardy\Downloads\isp\ISP_Project\CODER\TelephoneDirectory\TelephoneDirectory\bin\Debug\Directory.accdb"
            providerName="System.Data.OleDb" />
        <add name="TelephoneDirectory.My.MySettings.isd_codesConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\hardy\Downloads\isp\ISP_Project\CODER\TelephoneDirectory\TelephoneDirectory\bin\Debug\isd_codes.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
</configuration>
